API_URL=https://codeflix-api-one.vercel.app/
WEBHOOK_URL="https://discord.com/api/webhooks/137541402982348720asdfasd9522/FlQ7xiSddPfIcnMKJIMaSeNh0A7aCr1mXZ-9vyqlUaKFRPT0Xax-OnvOy8ro8wjres8l"
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Alternate public URLs for tunnels should stay commented in local Docker runs.
# NEXT_PUBLIC_WORDPRESS_PUBLIC_URL=https://britteny-smartish-case.ngrok-free.dev
WOOCOMMERCE_CONSUMER_KEY=ck_64e8149f6232a61adf953ff2afaee832bfc2605c
WOOCOMMERCE_CONSUMER_SECRET=cs_ba0b7a09f598ac4891a3f96ac569f6be5d374dd8
NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=http://localhost:8080/graphql
NEXT_PUBLIC_WORDPRESS_PUBLIC_URL=http://localhost:8080
WORDPRESS_URL=http://wordpress:80
FAUST_SECRET_KEY=47a22107-0636-415b-a355-11834ecd02c9
COCART_JWT_AUTH_SECRET_KEY_BASE64=Lno7I2pBdG1AOUtee0tNcSQwVUoxeXgjX1B0dGFwd2ZoSEBqcX1PRWpAT1A4diQwYztiWk1WciwxbDF1alpNUQ==
COCART_API_URL=http://wordpress:80/wp-json/cocart/v2



